@{ 
    ViewData["Title"] = "Main Menu";
}

<h2>Les 1: Inleiding</h2>
<a asp-controller="HelloWorld" asp-action="Index">Hello World</a><br/>
<a asp-controller="HelloWorld" asp-action="Welcome" asp-route-name="Rick" asp-route-numTimes="5">Welcome</a><br />

<h2>Les 3: Reading Data</h2>
<a asp-controller="Movies" asp-action="List">All Movies</a>

<h2>Les 4: Writing Data</h2>
<a asp-controller="Ratings" asp-action="List">All Ratings</a><br/>
<a asp-controller="Movies" asp-action="Create">Create Movie</a>

<h2>Les 5: ViewModels</h2>
<a asp-controller="Movies" asp-action="List">Filter Movies</a><br/>